table{height: 98vh;
width: 100%; background-color: orange;}
.longe {height: 20vh;
width: 35%; background-color: yellow;}
.logo01.png {height: 98vh;
width: 100% ; 
 background-color: blueviolet;}
.pluh {width:120px;
height: 120px; background-color: yellow;}
.pequeno {width: 13vh; background-color: blueviolet;}
.gumpert {width: 30vh;
height: 17vh; background-color: purple;}
.lore {width: 15%;
height: 6%; background-color: goldenrod;}
.nsx {height: 13vh;
width: 45vh; background-color: purple;}
.ruf {height: 20vh;
width: 33%; background-color: darkmagenta;}
.nsei {width: 33%;
height: 20vh; background-color: darkorchid;}
.gallardo {width: 33%;
   ; background-color: darkmagenta;}
   .acura {height: 13px;
width: 2vh; background-color: darkorchid;}
.daytona {height: 19vh; background-color: blueviolet;}