.preloder {position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 999999;
background-color: #000;}
.loader{ width: 40px;
height: 40px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -13px;
margin-left: -13px;
border-radius: 60%;
animation: loader 0.8s linear infinite;
-webkit-animation: loader 0.8s linear infinite;}
.menu-wrapper{position: fixed;
width: 90px;
height: 100px;
top: 0;
left: 0;
box-shadow: 14px 0px 103px rgba(0, 0, 0, 0.08);
z-index: 999;
transition: 0.4s;}
.menu-switch{width: 100px;
height: 90px;
padding-top: 23px;
font-size: 30px;
text-align: center;
color: #fff;
background: #0f0f0f;
cursor: pointer;}
.meni-ti{font-family: 'themify';
speak-as: none;
font-size: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;}
.menu-social-wrap{height: calc(100% - 90px);
display: flex;
-webkit-box-pack: center;
justify-content: center;
-webkit-box-align: center;
align-items: center;}
.menu-social a{box-sizing: border-box;
display: block;
font-size: 18px;
counter-reset: #252525;
margin-bottom: 50px;}
.ti-facebook{font-family: 'themify';
speak-as: none;
font-size: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;}
.ti-twitter{font-family: 'themify';
speak-as: none;
font-size: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;}
.ti-linkedin{font-family: 'themify';
speak-as: none;
font-size: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;}
.ti-instagram{font-family: 'themify';
speak-as: none;
font-size: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;}
.side-menu-wrapper{position: fixed;
width: 270px;
height: 100px;}
.hero-section{ height: 100%;
display: block;
box-sizing: border-box;}
.pana-accordion{width: 100%;
height: 100%;
position: relative;
margin: 0 auto;
overflow: hidden;}
.pana-accordion-item{display:flex;}
.hero-item{display: flex;}